*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    position: relative;
    height: 100vh;
    background-image: url("media/butterfly.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.first_step{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
    text-align: center;
}

.greeting{
    padding: 100px;
    border: 1px solid #000;
    border-radius: 9px;
}

.greeting h5{
    font-size: 35px;
    font-family: Calibri, Arial, Verdana, sans-serif;
    text-align: center;
    margin: 10px 0;
}

.greeting p{
    font-size: 22px;
    font-family: Calibri, Arial, Verdana, sans-serif;
    text-align: center;
    margin: 10px 0;
}

.greeting p span{
    display: inline-block;
    cursor: pointer;
    color: #06b085;
    font-weight: bold;
    font-size: 23px;
}

.greeting span:hover{
    transform: scale(1.05);
    text-decoration: underline;
}

.notification-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 20px;
    width: 100%;
    animation: notification 1s alternate;
}
@keyframes notification {
    from {
        transform: translate(0, -200%);
    }

    to{
        transform: translate(0, 0);
    }

}

.success {
    background-color: #8fce56;
    color: #0e490e;
}
.fail {
    background-color: #aa5353;
    color: red;
}

.type-error {
    margin: 0;
    color: red;
}