<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Nastia Terechenko - Thesis</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="../static/login.css">
        <link rel="stylesheet" href="../static/workspace.css">
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="application/javascript" src="../static/axios.js"></script>
    </head>

    <body>
        <div class="wrapper">
            <div class="first_step">
                <div class="greeting">
                    <h5>Hello! My name is Nastia.</h5>
                    <h5>Welcome to my Thesis</h5>
                    <p>For the next step you need  <span class="login">login</span>  or  <span class="register">register </span></p>
                    <a href="/workspace.html">link</a>
                </div>

            </div>
        </div>
        <script type="module" src="../static/script.js"></script>
    </body>
</html>